/* ===========================
   SHAPE 1 – Casino (50% width)
   =========================== */
.clip-casino {
  clip-path: path(
    "M562 0C568.627 0 574 5.37258 574 12V152C574 158.627 568.627 164 562 164H12C5.37258 164 0 158.627 0 152V53C0 46.3726 5.37258 41 12 41H126.5C137.249 41 147.999 25.4264 165.279 4.96582C165.649 4.45572 166.056 3.9745 166.5 3.5293C168.673 1.34911 171.679 0 175 0H562Z"
  );
}

/* ===========================
   SHAPE 2 – Game Shows (25%)
   =========================== */
.clip-gameshows {
  clip-path: path(
    "M562 0C568.627 0 574 5.37258 574 12V152C574 158.627 568.627 164 562 164H12C5.37258 164 0 158.627 0 152V53C0 46.3726 5.37258 41 12 41H126.5C137.249 41 147.999 25.4264 165.279 4.96582C165.649 4.45572 166.056 3.9745 166.5 3.5293C168.673 1.34911 171.679 0 175 0H562Z"
  );
}

/* ===========================
   SHAPE 3 – Slots (25%)
   =========================== */
.clip-slots {
  clip-path: path(
    "M292 0C298.627 0 304 5.37258 304 12V152C304 158.627 298.627 164 292 164H12C5.37258 164 0 158.627 0 152V53C0 46.3726 5.37258 41 12 41H96.5C107.249 41 117.999 25.4264 135.279 4.96582C135.649 4.45572 136.056 3.9745 136.5 3.5293C138.673 1.34911 141.679 0 145 0L292 0Z"
  );
}

/* ===========================
   SHAPE 4 – Blackjack (50%)
   =========================== */
.clip-blackjack {
  clip-path: path(
    "M592.5 0C599.127 0 604.5 5.37258 604.5 12V152C604.5 158.627 599.127 164 592.5 164H12C5.37258 164 0 158.627 0 152V53C0 46.3726 5.37258 41 12 41H126.5C137.249 41 147.999 25.4264 165.279 4.96582C165.649 4.45572 166.056 3.9745 166.5 3.5293C168.673 1.34911 171.679 0 175 0L592.5 0Z"
  );
}

/* ===========================
   SHAPE 5 – Roulette (50%)
   =========================== */
.clip-baccarat {
  clip-path: path(
    "M592.5 0C599.127 0 604.5 5.37258 604.5 12V152C604.5 158.627 599.127 164 592.5 164H12C5.37258 164 0 158.627 0 152V53C0 46.3726 5.37258 41 12 41H126.5C137.249 41 147.999 25.4264 165.279 4.96582C165.649 4.45572 166.056 3.9745 166.5 3.5293C168.673 1.34911 171.679 0 175 0L592.5 0Z"
  );
}
